* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    text-align: center;
}

img {
    width: 750;
    height: auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
}

li {
    text-align: left;
}

.navigation {
    text-align: center;
}

.navigation li {
    margin-right: 60px;
    display: inline-block;
}

a:hover {
    color: red;
    border: 2px solid purple;
}


.how-and-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.how-and-home h3{
    margin-bottom: 0;
}

.home-link {
    font-size: 20px;
}